@charset "UTF-8";

#content_form .paging {text-align: center;}
#content_form table tr:hover {cursor: pointer;}
#content_form table {margin: 20px auto 0px;}
#content_form input:not(.btn), #content_form textarea {width: 80%;}
#content_form caption {font-size: 1.5em;}
#content_form h2, #content_form b{text-align: center; color:red;}
#content_form a { text-decoration: none; color:black}